.example-spacer {
    flex: 1 1 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    align-items: center;
    list-style: none;
    position: relative;
    margin-right: 2px;

}

div {
    display: flex;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(59, 193, 226);
}

mat-toolbar {
    background-color: #3b4df0;
}

mat-icon {
    color: white;
}
.etiqueta{
    font-size: medium;
}
@media screen and (max-width: 768px) {
    .etiqueta{
        font-size: xx-small;
    }
    
    
}
