<mat-toolbar>
    <div>
        <a [routerLink]="'/'">
            <button mat-icon-button class="example-icon">
                <mat-icon>local_hospital</mat-icon>
            </button>
        </a>
        <a [routerLink]="'/'">Portal Del Hospital</a>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="authService.isLoggedIn()">
        <a class="etiqueta" routerLink="/admin/profile">{{user}}</a>
        <a><button mat-icon-button class="example-icon" routerLink="/admin/profile">
            <mat-icon>person</mat-icon>
        </button>
    </a>
    </div>

    <div>
        <ul>

            <li *ngIf="!authService.isLoggedIn()">
                <a class="etiqueta" [hidden]="!etiqueta">iniciar Sesion</a>

                <a [routerLink]="'/login'" (mouseover)="highlightItem()" (mouseout)="resetItem()">


                    <button mat-icon-button class="example-icon">
                        <mat-icon>login</mat-icon>
                    </button>

                </a>

            </li>


            <li *ngIf="authService.isLoggedIn()">
                <a class="etiqueta" *ngIf="etiqueta">cerrar Sesion</a>
                <a href="" (click)="logout()" (mouseover)="highlightItem()" (mouseout)="resetItem()">
                    <button mat-icon-button class="example-icon">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </a>


            </li>


        </ul>
    </div>


</mat-toolbar>