.example-spacer {
    flex: 1 1 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    align-items: center;
    list-style: none;
    position: relative;
    margin-right: 2px;

}

div {
    display: flex;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

button:hover {
    background: radial-gradient(
      #52b69a 0%,
      #76c893 25%,
      #99d98c 75%,
      #b5e48c 100%);
}

mat-toolbar {
    background: linear-gradient(45deg,
      #1a38ff 0%,
      #344efc 25%,
      #475ef6 75%,
      #5d71f7 100%);
}

mat-icon {
    color: white;
}
.etiqueta{
    font-size: small;
}

@media screen and (max-width: 768px) {
    .etiqueta{
        font-size: xx-small;
    }
    
    
}
