<div class="main">
    <h3 class="titulo">Buscar Contratos</h3>
    <div class="grupo">
        <mat-tab-group>
            <mat-tab label="Por DNI" errorInput="">

                <div class="encabezado">
                    <p class="title">Todo los Contratos De Una Persona</p>
                    <div class="buscar">
                        <mat-form-field class="input">
                            <mat-label>Ingrese el DNI</mat-label>
                            <input type="text" matInput [formControl]="dniInput" maxlength="8"
                                (ngModelChange)="searchContractByDniUser()" />
                        </mat-form-field>
                        <button class="search" 
                            (click)="searchContractByDniUser()"><mat-icon>search</mat-icon></button>

                    </div>

                </div>

                <div class="data">
                    <app-table-contrato [tableId]="'tableDni'" [contratos]="contratos"></app-table-contrato>
                </div>
                <div class="exportData">
                    <app-export-table [tableId]="'tableDni'"></app-export-table>
                </div>


            </mat-tab>

            <mat-tab label="Por Regimen Laboral">

                <div class="encabezado">
                    <p class="title">Contratos De Un Regimen Laboral</p>
                    <div class="buscar">
                        <mat-form-field class="input">
                            <mat-label>ingrese el codigo</mat-label>
                            <input type="text" matInput [formControl]="regimenLabInput" maxlength="8"
                            (ngModelChange)="searchContractByLaborRegime()" />
                        </mat-form-field>
                        <button class="search" 
                            (click)="searchContractByLaborRegime()"><mat-icon>search</mat-icon></button>

                    </div>

                </div>
                <div class="data">
                    <app-table-contrato [contratos]="contratosReLa" [id]="'tableregime'"></app-table-contrato>

                </div>
                <div class="exportData">
                    <app-export-table [tableId]="'tableregime'"></app-export-table>
                </div>



            </mat-tab>

            <mat-tab label="Por Condicion Laboral ">
                <div class="encabezado">
                    <p class="title">Contratos De Una Condicion Laboral</p>

                    <div class="buscar">
                        <mat-form-field class="input">
                            <mat-label>ingrese el codigo</mat-label>
                            <input type="text" matInput [formControl]="workConditionInput" 
                            maxlength="8" (ngModelChange)="searchContractByworkcondition()"
                                />
                        </mat-form-field>
                        <button class="search" (click)="searchContractByworkcondition()"><mat-icon>search</mat-icon></button>

                    </div>

                </div>
                <div class="data">
                    <app-table-contrato [contratos]="contratosCoLa" [id]="'tableWork'"></app-table-contrato>

                </div>

                <div class="exportData">
                    <app-export-table [tableId]="'tableWork'"></app-export-table>
                </div>


            </mat-tab>

        </mat-tab-group>

    </div>

</div>