/* Estilo para la tabla */
.datos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espacio entre la tabla y otros elementos */
    font-size: 12px; /* Tamaño de fuente general */
  }
  
  /* Estilo para las celdas de encabezado */
  .datos th {
    background-color: #0a67f1de; /* Color de fondo del encabezado */
    color: white; /* Color del texto en el encabezado */
    padding: 10px; /* Espaciado interno del encabezado */
    text-align: left; /* Alineación del texto en el encabezado */
  }
  
  /* Estilo para las celdas de datos */
  .datos td {
    border: 1px solid #ccc; /* Borde de las celdas de datos */
    padding: 10px; /* Espaciado interno de las celdas de datos */
    text-align: left; /* Alineación del texto en las celdas de datos */
    
  }
  
  /* Estilo para las filas impares (alternar colores) */
  .datos tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fondo de filas impares */
  }
  .datos {
    /* ... otros estilos ... */
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
  }
  .input{
    margin-left: 40px;
  }

  .search {
    background-color: #007bff; /* Cambia el color de fondo a tu elección */
    color: white; /* Cambia el color del texto a tu elección */
    padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Añade bordes redondeados si lo deseas */
  }
  
  .search:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  
  .search .mat-icon {
    margin-right: 5px; /* Espacio entre el icono y el texto */
  }