h1 {
    text-align: center;
    color: #218838;
}

.image {
    display: flex;
    flex-direction: column;


    img {
        box-shadow: 0 0 15px rgb(0, 227, 235);
        border-radius: 50%;
        height: 80px;

    }

    align-items: center;
}

.formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    padding: 10px;
    background:
        linear-gradient(45deg,
            #6b9080 0%,
            #a4c3b2 25%,
            #cce3de 50%,
            #eaf4f4 75%,
            #f6fff8 100%);
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-hint {
        color: #218838;
    }

}

.inputs {
    .mdc-text-field {
        background: #afd9e0;

    }

    width: 300px;
    height: 70%;

    mat-label {
        font-size: medium;
        color: rgb(11, 31, 214);
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        font-size: medium;
        color: darkgreen;
    }

}
.inputs:hover{
    box-shadow: 0 0 15px rgb(85, 250, 228);
}
.botonAct{
     
    background:
        linear-gradient(45deg,
            #64dfdf 0%,
            #56cfe1 25%,
            #48bfe3 50%,
            #4ea8de 75%,
            #5390d9 100%);
            width: 85px;
            margin: 10px;
            color:white


}
.botonAct:hover{
     color:black;
    background:
        linear-gradient(45deg,
            #76c893 0%,
            #168aad 50%,
            #184e77 100%);


}
.botonCan{
    background:
    linear-gradient(45deg,
        #f7b267 0%,
        #f79d65 25%,
        #f4845f 50%,
        #f27059 75%,
        #f25c54 100%);
        width: 85px;
            margin: 10px;
            color:white

}
.botonCan:hover{
    color: black;
    background:
    linear-gradient(45deg,
        #f72585 0%,
        #b5179e 50%,
        #7209b7 100%);
   
    

}