<div class="formulario">

    <div class="image">
        <div>
            <img src="../../../../assets/icon.png" alt="">

        </div>
    </div>


    <div class="datos" >
        <h1>Agregar Empleado</h1>
        <mat-form-field appearance="outline" class="inputs">
            <mat-label>DNI</mat-label>
            <input
            autocomplete='off'
            maxlength="8"
            minlength="8"
            matInput
            #dni
            name="dni"
            placeholder="Ingrese el DNI"
            type="text"
            [formControl]="dniForm"
            required
            (input)="filtrarNumeros($event)"
>
            
            <mat-hint align="end">{{(dni.value || '').length}} / 8</mat-hint>
    <mat-error *ngIf="dniForm.invalid && (dniForm.dirty || dniForm.touched)">
        Ingrese un DNI válido.
    </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="inputs">
            <mat-label>NOMBRE</mat-label>
            <input
            autocomplete='off'
            maxlength="20"
            matInput
             #name
            placeholder="Ingrese el Nombre"
            type="text"
            [formControl]="nameForm"
            required
            (input)="filtrarLetras($event)">
            <mat-hint align="end">{{name.value.length}} /20
            </mat-hint>

        </mat-form-field>
        <mat-form-field appearance="outline" class="inputs">
            <mat-label>APELLIDOS</mat-label>
            <input
            autocomplete='off'
            maxlength="40"
            matInput #lastName
            placeholder=" Ingrese los Apellidos"
            type="text"
            [formControl]="lastNameForm"
            required
            (input)="filtrarLetras($event)">
            <mat-hint align="end">{{lastName.value.length}} /40
            </mat-hint>
            
        </mat-form-field>
        <mat-form-field appearance="outline" class="inputs">
            <mat-label>PROFESIÓN</mat-label>
            <input
            maxlength="40"
            autocomplete='off'
            matInput
            placeholder="Ingrese la Profeción"
            type="text"
            [formControl]="professionForm"
            required
            (input)="filtrarLetras($event)">
        </mat-form-field>
        <mat-form-field appearance="outline"  class="inputs">
            <mat-label >FECHA DE NACIMIENTO</mat-label>
            <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="01/01/2024" [formControl]="fechaCumple">
            <mat-hint>mes/dia/año</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false" ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Genero</mat-label>
            <mat-select [(ngModel)]="generoValue">
                <mat-option class="option" *ngFor="let gen of generos"
                [value]="gen.value"  >{{gen.viewValue}}

                </mat-option>
            </mat-select>

        </mat-form-field>
        
        
    </div>
    <div class="botones">
        <button class="botonAct" mat-button (click)="guardar()" [disabled]="!formularioValid()" >GUARDAR</button>
        <button class="botonCan" mat-button (click)="redirectUserList()">CANCELAR</button>
    </div>
</div>