<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center " style="min-width: 280px;">
                    <img src="../../../../assets/icon.png" alt="">
                    <h1>Agregar Empleado</h1>
                </div>
                <div class="container" style="min-width: 280px;">
                <form (ngSubmit)="onSubmitForm()">
                    <div class="form-group">
                        <label for="dni"> DNI</label>
                        <input  type="text"  class="form-control" id="dni" [(ngModel)]="user.dni" name="dni" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="name"> Name</label>
                        <input  type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="lastName"> LastName</label>
                        <input  type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName"
                            name="lastName" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="profesion"> Profesión</label>
                        <input  type="text" class="form-control" id="profesion" [(ngModel)]="user.profession"
                            name="profesion" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="birthDate"> BirthDate</label>
                        <input type="text" class="form-control" id="birthDate" [(ngModel)]="user.birthDate"
                            name="birthDate" autocomplete="off">
                    </div>

                    <button class="btn btn-success" type="submit">Crear</button>

                </form>
            </div>
                <br><br><br>


            </div>
        </div>
    </div>
</div>
