<h1>USUARIOS ASIGNADOS A UN SERVICIO</h1>
<mat-divider></mat-divider>
<div class="filter">
  <div class="item">
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <mat-select  [(ngModel)]="selectedValue1" name="selection" (closed)="buscarvalor()">
        <mat-option *ngFor="let selection of typeBusqueda" [value]="selection.value">
          {{selection.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <mat-label>nombre {{ mostrarValueselect}}</mat-label>

      <input type="text" matInput [formControl]="inputBuscarPorCondicion" [value]="selectedValue2" (input)="buscarPorcondicion()" />
      <mat-select *ngIf="abrir" #selectedMenu [(ngModel)]="selectedValue2" name="selection" (selectionChange)="abrir=false">
        
        <mat-option  *ngFor="let selection of responseBusqueda" [value]="selection.name">
          {{selection.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="search" mat-button (click)="listarUsuarios()"><mat-icon>search</mat-icon></button>


  </div>

</div>
<mat-divider></mat-divider>
<div>
  <app-table-user-asig-servicio [tableId]="'result'" [data]="response"></app-table-user-asig-servicio>
</div>
<mat-divider>
  
</mat-divider>
<div>
  <app-export-table [tableId]="'result'" ></app-export-table>
</div>

