<mat-card class="userData" *ngIf="!viewUpdateUser">
    <h1>DETALLES DEL PERFIL</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/userDefault.jpg" alt="" class="profile-image">    
                    <h1 class="mt20">{{ user.name + ' '+ user.lastName}}</h1>

                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td class="titles"> CORREO</td>
                                <td>{{user.username}}</td>
                            </tr>
                            
                            <tr>
                                <td class="titles">DNI</td>
                                <td>{{user.dni}}</td>
                            </tr>
                            <tr>
                                <td class="titles">ROL</td>
                                <td>admin</td>
                            </tr>
                            <tr>
                                <td class="titles">ESTADO</td>
                                <td>{{user.status?'activo ':'cancelado'}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button mat-raised-button color="primary" (click)="mostrarComponetUpdateUser(user)">Actualizar</button>
            <!--<button mat-raised-button color="accent">Compartir</button>-->
        </div>
    </mat-card-content>
</mat-card>
<app-edit-profile class="actualizarUser" *ngIf="viewUpdateUser" [userEdit]="userUpdate" (actualizacionFinalizada)="ocultarComponentUpdateUser()"></app-edit-profile>