<div *ngIf="!actualizarUser">
    <h2> USUARIOS ACTIVOS EN LA ORGANIZACIÓN</h2>
    <table class = "table table-striped" id="userList">
        <thead>
            <tr>
            
                <th>DNI</th>
                <th>Nombre y Apellidos</th>
                <th>Correo</th>
                <th>accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let u of users">
            
                <td>{{u.dni}}</td>
                
                <td>{{u.name + ' '+ u.lastName}}</td>
                <td>{{u.username}}</td>
                <td>
                    <button class="btn-update" (click)="updateUser(u)">update</button>
                    <button class="btn-delete" (click)="changeStatus(u.dni)">delete</button>
                    
                </td>
                
            </tr>
        </tbody>
        
    </table>
    <app-export-table [tableId]="'userList'"></app-export-table>
</div>
<div *ngIf="actualizarUser">
    <app-edit-profile [userEdit]="userUpdate" (actualizacionFinalizada)="finUpdate()"></app-edit-profile>

</div>
