.container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 8px;
}

.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: green;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
}

mat-form-field {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    

}



.container-card {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg,
            rgb(156, 218, 247) 0%,
            rgba(215, 242, 255, 1) 25%,
            rgba(164, 225, 255, 1) 50%,
            rgba(102, 204, 255, 1) 75%,
            rgba(68, 193, 255, 1) 100%);
}

.container-main {
    display: flex;
    justify-content: center;


}

mat-form-field {
    width: 340px;
    border-radius: 3px;


    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        font-size: medium;
        color: green;
        font-weight: bold;
    }

    mat-label {
        font-size: medium;
        font-weight: bold;
        color: green;
    }
}

.boton {
    display: block;
    margin: auto;
    width: 80px;
    height: 40px;
    background: linear-gradient(
        0deg,
            #48cae4   0%,
            #00b4d8  25%,
            #0096c7 50%,
            #0077b6  75%,
            #023e8a 100%);

    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(1, 90, 1);
    font-weight: bold;
}

.boton:hover {
    background: linear-gradient(45deg,
            #004b23 0%,
            #006400 25%,
            #007200 50%,
            #008000 75%,
            #38b000 100%, transparent);
    color: white;
}