<table class="datos" [attr.id]="tableId">

    <thead>
        <tr>


            <th>Nombre</th>
            <th>DNI</th>
            <th>Correo</th>
            <th>Profesion</th>
            <th>Puesto</th>
            <th>Condicion Laboral</th>
            <th>Regimen Laboral</th>
            <th>Salario</th>
            <th>Inicio de contrato</th>
            <th>Fin de contrato</th>
            <th>Estado</th>




        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contrato of contratos">
            <td>{{contrato.user.name + ' '+contrato.user.lastName}}</td>
            <td>{{contrato.user.dni}}</td>
            <td>{{contrato.user.username}}</td>
            <td>{{contrato.user.profession}}</td>
            <td>{{contrato.position}}</td>
            <td>{{contrato.workCondition.name}}</td>
            <td>{{contrato.laborRegime.name}}</td>
            <td>S/.{{contrato.salary}}</td>
            <td>{{contrato.startDate}}</td>
            <td>{{contrato.finishDate}}</td>
            <td>{{contrato.status?'vigente':'terminado'}}</td>


        </tr>
    </tbody>
</table>
