/*
.tableJefes {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
     
  }
  
  
  .tableJefes th {
    background-color: #0a67f1de; 
    color: white; 
    padding: 10px; 
    text-align: left; 
    font-size: 12px;
  }
  
  
  .tableJefes td {
    border: 1px solid #ccc; 
    padding: 5px; 
    text-align: left; 
    font-size: 12px;
    
  }
  
  
  .tableJefes tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
  }
  .tableJefes {
    
    overflow-x: auto; 
  }
  .input{
    margin-left: 60px;
  }
  h1 {
    font-family: 'Arial', sans-serif; 
    color: #072aee; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-bottom: 20px; 
  }
  
  button {
   
    
    padding: 10px; 
    font-size: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .my-button1:hover {
    background-color: #041be9; 
    color: white;
  }
  .my-button2:hover {
    background-color: #ec0808e7; 
    color: white;
  }*/

button {


  padding: 0.5em;
  border: none;
  border-radius: 30%;
  cursor: pointer;
  background: none;

}

.my-button1 mat-icon:hover {
  background:
    linear-gradient(45deg,
      #64dfdf 0%,
      #56cfe1 25%,
      #48bfe3 50%,
      #4ea8de 75%,
      #5390d9 100%);
      width: 30px;
      height: 30px;
  color: white;
  font-size: 30px;
  
  border-radius: 50%;
}

.my-button2 mat-icon:hover {
  background:
    linear-gradient(45deg,
      #f7b267 0%,
      #f79d65 25%,
      #f4845f 50%,
      #f27059 75%,
      #f25c54 100%);
      width: 30px;
      height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  
}




.main {
  max-width: 1000px;
  max-height: 400px;
  margin:5px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-3dlight-color: #b79c00;
}


.main::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Estilizar el scrollbar thumb */
.main::-webkit-scrollbar-thumb {
  background-color: #44b6eb; /* Color del thumb */
  border-radius: 5px; /* Bordes redondeados */
  cursor:pointer ;
}

/* Cambiar el color del track */
.main::-webkit-scrollbar-track {
  background-color: #99b4b0; /* Color del track */
}

/* Cambiar el color del thumb cuando está siendo arrastrado */
.main::-webkit-scrollbar-thumb:hover {
  background-color: #064394;
   /* Color del thumb al pasar el mouse */
}
.main table thead th{
  position: sticky;
  top: 0; /* Fija el encabezado en la parte superior del contenedor */
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido de la tabla */
  background-color: white;}

.main table tbody td:first-child{
  position: sticky;
  left: 0;
  z-index: 1;
  background: #b1eaff;/* Ajusta el color de fondo según tu diseño */
}
.main table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2; 
}


h1 {
  text-align: center;
  margin-top: 5px;
  color: #0f5298;
  position: relative;
}



.table-container table {
  width: auto;
  table-layout: auto;
}

.table-container table thead th {
  padding: 1em;
  background: #0f5298;
  font-size: smaller;
  color: #fff;
}

.table-container table tbody td {
  padding: 1em;
  color: #000000;
  white-space: nowrap;
}

.table-container table tbody tr:nth-child(even) {
  background: #b1eaff
}

.table-container table tbody tr:nth-child(odd) {
  background: #d5f3fe
}

@media (max-width: 768px) {
  .table-container table thead th {
    display: none;
  }

  .table-container table tbody td {

    display: block;
    padding: 0.5em;
  }

  .table-container table tbody td::before {
    content: attr(data-title) " ";
    color: #0086b7;
    display: inline;
  }

  .table-container table tbody tr {
    margin-bottom: 1em;
    padding: 1em;
    display:block;
    width: 400px;
  }
}