<h1>Jefes De Servico</h1>



<table class="tableJefes" id="jefes">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Profesion</th>
            <th>Correo</th>
            <th>Servicio</th>
            <th>Codigo Servicio</th>
            <th>Inicio de cargo</th>
            <th>Fin de cargo </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of response">
            <td>{{r.user.fullName}}</td>
            <td>{{r.user.dni}}</td>
            <td>{{r.user.profession}}</td>
            <td>{{r.user.username}}</td>
            <td>{{r.service.name}}</td>
            <td>{{r.service.code}}</td>
            <td>{{r.startDate}}</td>
            <td>{{r.finishDate}}</td>
            <td><button class="my-button1"  mat-button color="primary">ACTUALIZAR</button>
                <button class="my-button2" (click)="changeStatus(r.service.code,r.user.dni)" mat-button color="warn">ELIMINAR</button>
            </td>
        </tr>
    </tbody>

</table>
<app-export-table [tableId]="'jefes'" ></app-export-table>