mat-sidenav-container {
  height: calc(100vh - 98px);
}

mat-sidenav {
  width: 220px;
  background: #3b4df0;
  padding: 15px;
  border-radius: 10px;
  margin-top: 12px;
  
  height: 100vh;
}


mat-sidenav-content {
  position: relative;
  padding: 12px;
  
}

.content {
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(178, 236, 236, 0.61);
}

@media screen and (max-width: 768px) {
  mat-sidenav {
    width: 60px;
    /* O cualquier otro valor adecuado para pantallas pequeñas */
    margin-top: 0;
    /* Puede que quieras quitar el margen en pantallas pequeñas */

    text-align: center;
    padding: 0px;
    border-radius: 0px;
    margin-top: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  mat-sidenav-content {
    padding: 8px;
    /* Puedes ajustar este valor según tus necesidades */
    width: 100%;
  }
}