mat-sidenav-container {
  height: calc(100vh - 98px);
}

mat-sidenav {
  width: 220px;
  background:radial-gradient(
  #5d71f7 0%,
  #475ef6 50%,
  #344efc 75%,
  #1a38ff 100%);
  padding: 15px;
  margin-right: 5px;
  
  height: 100vh;
}


mat-sidenav-content {  
  position: relative;
  background: radial-gradient(
  #f6fff8 0%,
  #eaf4f4 30%,
  #cce3de 60%,
  #a4c3b2 100%
  );
}

.content {
padding: 20px;

}

@media screen and (max-width: 768px) {
  mat-sidenav {
    width: 60px;
    /* O cualquier otro valor adecuado para pantallas pequeñas */
    margin-top: 0;
    /* Puede que quieras quitar el margen en pantallas pequeñas */

    text-align: center;
    padding: 0px;
    border-radius: 0px;
    margin-top: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
  }

  mat-sidenav-content {
    padding: 8px;
    /* Puedes ajustar este valor según tus necesidades */
    width: 100%;
  }
}