
.custom-button {
  background:
  linear-gradient(45deg,
      #64dfdf 0%,
      #56cfe1 25%,
      #48bfe3 50%,
      #4ea8de 75%,
      #5390d9 100%); /* Cambia el color de fondo a tu elección */
    color: white; /* Cambia el color del texto a tu elección */
    padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Añade bordes redondeados si lo deseas */
    margin-left:  20px;
  }
  .custom-button:hover{
    background:
  linear-gradient(45deg,
      
      #008000 0%,
      #38b000 25%,
      #70e000 50%,
      #9ef01a 75%,
      #ccff33 100%);
  }

  
  .custom-button .mat-icon {
    margin-right: 5px;
  }