<img class="avatar" src="https://cdn.www.gob.pe/uploads/document/file/2394155/standard_MUNI3-4.jpg.jpg" alt="">

<mat-divider></mat-divider>

<div class="items">
  <!--Inicio-->
  <div class="menu-button responsive" (click)="toggleSubMenu(1)">
    <button mat-button>
      <mat-icon>home</mat-icon>
      <span class="menu-text">Inicio</span>
    </button>
    <ul [ngClass]="{'sub-menu': true, 'show': showSubMenu === 1}">
      <li class="sub-item">
        <button mat-button routerLink="welcome" class="submenu-button">
          <mat-icon >pie_chart</mat-icon>
          
          <span class="menu-text">Bienvenido</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="profile" class="submenu-button">
          <mat-icon>person </mat-icon>
          <span class="menu-text">Perfil</span>

        </button>
      </li>
      
      <li class="sub-item">
        <button mat-button routerLink="userlist" class="submenu-button">
          <mat-icon>group</mat-icon>
          <span class="menu-text">userlist</span>

        </button>
      </li>

    </ul>
  </div>
  <mat-divider></mat-divider>

<!--usuarios-->
  <div class="menu-button responsive" (click)="toggleSubMenu(2)">
    <button mat-button>
      <mat-icon>person</mat-icon>
      <span class="menu-text"> Usuarios</span>
    </button>
    <ul [ngClass]="{'sub-menu': true, 'show': showSubMenu === 2}">
      <li class="sub-item">
        <button mat-button routerLink="createuser" class="submenu-button">
          <mat-icon>person_add</mat-icon>
          <span class="menu-text">agregar</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="userlist" class="submenu-button">
          <mat-icon>people_outline</mat-icon>
          <span class="menu-text">Usuarios</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="addJefes" class="submenu-button">
          <mat-icon>person_add</mat-icon>
          <span class="menu-text">Asignar Jefe</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="listJefes" class="submenu-button">
          <mat-icon>people_outline</mat-icon>
          <span class="menu-text">Listar Jefes</span>

        </button>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
<!--contratos-->
  <div class="menu-button responsive" (click)="toggleSubMenu(3)">
    <button mat-button>
      <mat-icon>tab</mat-icon>
      <span class="menu-text">Contratos</span>
    </button>
    <ul [ngClass]="{'sub-menu':true,'show':showSubMenu===3}">
      <li class="sub-item">
        <button mat-button routerLink="addContract" class="submenu-button">
          <mat-icon>create </mat-icon>
          <span class="menu-text">Crear</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="viewContract" class="submenu-button">
          <mat-icon>find_in_page </mat-icon>
          <span class="menu-text">Buscar</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="profile" class="submenu-button">
          <mat-icon>date_range</mat-icon>
          <span class="menu-text">B. Fecha</span>
        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="profile" class="submenu-button">
          <mat-icon>update</mat-icon>
          <span class="menu-text">Actualizar</span>
        </button>
      </li>


    </ul>

  </div>
  <mat-divider></mat-divider>

  <!--Servicios-->
  <div class="menu-button responsive" (click)="toggleSubMenu(4)">
    <button mat-button>
      <mat-icon>note_add</mat-icon>
      <span class="menu-text">Servicios</span>
    </button>
    <ul [ngClass]="{'sub-menu': true, 'show': showSubMenu === 4}">
      <li class="sub-item">
        <button mat-button routerLink="addServices" class="submenu-button">
          <mat-icon>create </mat-icon>
          <span class="menu-text">Crear</span>
        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="Services" class="submenu-button">
          <mat-icon>find_in_page </mat-icon>
          <span class="menu-text">Buscar</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="Services" class="submenu-button">
          <mat-icon>update</mat-icon>
          <span class="menu-text">Actualizar</span>
        </button>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <!--Condicion Laboral-->
  <div class="menu-button responsive" (click)="toggleSubMenu(5)">
    <button mat-button>
      <mat-icon>work</mat-icon>
      <span class="menu-text">Condicion Laboral</span>
    </button>
    <ul [ngClass]="{'sub-menu': true, 'show': showSubMenu === 5}">
      <li class="sub-item">
        <button mat-button routerLink="addworkcondition" class="submenu-button">
          <mat-icon>create </mat-icon>
          <span class="menu-text">Crear</span>
        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="workcondition" class="submenu-button">
          <mat-icon>find_in_page </mat-icon>
          <span class="menu-text">Buscar</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="profile" class="submenu-button">
          <mat-icon>update</mat-icon>
          <span class="menu-text">Actualizar</span>
        </button>
      </li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <!--Regimen Lanoral-->
  <div class="menu-button responsive" (click)="toggleSubMenu(6)">
    <button mat-button>
      <mat-icon>business_center</mat-icon>
      <span class="menu-text">Regimen Laboral</span>
    </button>
    <ul [ngClass]="{'sub-menu': true, 'show': showSubMenu === 6}">
      <li class="sub-item">
        <button mat-button routerLink="addLaborRegime" class="submenu-button">
          <mat-icon>create </mat-icon>
          <span class="menu-text">Crear</span>
        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="laborRegime" class="submenu-button">
          <mat-icon>find_in_page </mat-icon>
          <span class="menu-text">Buscar</span>

        </button>
      </li>
      <li class="sub-item">
        <button mat-button routerLink="profile" class="submenu-button">
          <mat-icon>update</mat-icon>
          <span class="menu-text">Actualizar</span>
        </button>
      </li>
    </ul>
  </div>


</div>