.avatar {
  width: 140px;
  height: 70px;
  border-radius: 50%;
  margin-left: 25px;
}

mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;

}


button:hover {
  background-color: rgb(59, 193, 226);
}
mat-icon{
  color: white;
}


.sub-menu {
  display: none;
  position: relative;
  top: 70%;
  padding: 0;
  list-style: none;
  margin-left: 10px;
  width: 150px;
  background-color: rgba(224, 192, 228, 0.103);
}


/* Agrega esta clase para mostrar el submenú */
.show {
  display: block;
}

.sub-item {
  display: flex;
  padding: 5px 5px;

  

}
.menu-text{
  color: white;
  

}

@media (max-width: 768px) {

  .menu-button.responsive .menu-text {
    display: none;
    /* Oculta el texto en pantallas pequeñas */
    padding: none;
  }

  .menu-button.responsive mat-icon {
    margin: 0;
    /* Ajusta el margen del ícono */
    padding: auto;
  }
  .menu-button.responsive button:hover .menu-text {
    display: inline; /* Mostrar el texto al hacer hover */
    font-size: xx-small;
    

  }
  .menu-button.responsive button:hover .mat-icon{
    display: none;/*oculta el icono en pantallas pequeñas al pasar el mouse*/
  }

  .sub-menu {
    position: relative;
    padding: 1px;
    margin-left: 1px;
    width: 60px;

    .sub-item {/*acomoda los subitems*/
      display: flex;
      padding: 0px;
    }
  }


  .avatar {
    margin-top: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0px;
  }

  mat-divider {
    margin-top: 5px;
    margin-bottom: none;
    background-color: white;

  }

}