/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f5f5f5;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;

}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml70 {
    margin-left: 70px !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* stilos para el error en las notificaciones*/
.error.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background: linear-gradient(45deg, #ff94a2 0%, #eecddc 50%, #ff94a2 100%);
    margin-top: 150px;
}

.error.mat-mdc-snack-bar-container .mdc-snackbar__label {

    font-size: large;
    color: #f30e0e;
    text-shadow:0 0 15px rgb(230, 227, 95);
    
}

.error.mat-mdc-snack-bar-container .mdc-button {
    background: linear-gradient(90deg, #f75369 0%, #eecddc 50%, #f75369 100%);
    color: #f82500;
}
.error.mat-mdc-snack-bar-container .mdc-button:hover {
    background: linear-gradient(90deg, #ff0022 0%, #e67575 50%, #ff0022 100%);
    color: #420503;
}
.error.mat-mdc-snack-bar-container .material-icons{
    color: #771607;
    width: 50%;
    height: 100%;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(243, 7, 7);

}

/* stilos para el alert en las notificaciones*/
.alert.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background: linear-gradient(45deg,  #90e0ef 0%, #caf0f8 50%, #90e0ef 100%);
    margin-top: 150px;
}

.alert.mat-mdc-snack-bar-container .mdc-snackbar__label {

    font-size: large;
    color: #053b53;
    text-shadow:0 0 15px rgb(15, 201, 31);
    
}

.alert.mat-mdc-snack-bar-container .mdc-button {
    background: linear-gradient(90deg, #219ebc 0%, #8ecae6 50%, #219ebc 100%);
    color: #0f5306;
}
.alert.mat-mdc-snack-bar-container .mdc-button:hover {
    background: linear-gradient(90deg, #0077b6 0%, #00b4d8 50%, #0077b6 100%);
    color: #0f5306;
}
.alert.mat-mdc-snack-bar-container .material-icons{
    color: #023047;
    width: 50%;
    height: 100%;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(86, 84, 218);

}


