<table [attr.id]="tableId">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Apellidos y Nombres</th>
            <th>Profeción </th>
            <th>Servicio</th>
            <th>fechaInicio</th>
            <th>FechaFinal</th>
            <th>estado</th>
            <th>acción</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let a of data ">
            <td>{{a.user.dni}}</td>
            <td>{{a.user.fullName}}</td>
            <td>{{a.user.profession}}</td>
            <td>{{a.service.name}}</td>
            <td>{{a.startDate}}</td>
            <td>{{a.finishDate}}</td>
            <td>{{a.status?'vigente':'finalizado'}}</td>
            <td>
                <button>actualizar</button>
                <button>eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
