/* Estilo básico para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilo para las celdas del encabezado */
th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Estilo para las celdas del cuerpo */
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Estilo para filas impares */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Estilo para los botones en las celdas */
 .btn-ok {
    background:
            linear-gradient(45deg,
                #64dfdf 0%,
                #56cfe1 25%,
                #48bfe3 50%,
                #4ea8de 75%,
                #5390d9 100%);
                width: 80px;
    height: 25px;
    color: white;
    cursor: pointer;
    margin: 5px;
}
.btn-error {
    background:
            linear-gradient(45deg,
                #f7b267 0%,
                #f79d65 25%,
                #f4845f 50%,
                #f27059 75%,
                #f25c54 100%);
                width: 80px;
    height: 25px;
    color: white;
    cursor: pointer;
    margin: 5px; 
}

/* Estilo para los botones cuando se pasan por encima */
td button:hover {
    background-color: #45a049;
}
/* Estilos para la tabla cuando el ancho de la pantalla es igual o menor a 768px */
@media (max-width: 768px) {
    /* Ajustar el ancho de la tabla para que se adapte al tamaño de la pantalla */
    table {
        width: 100%;
    }

    /* Ocultar el encabezado de la tabla para pantallas pequeñas */
    thead {
        display: none;
    }

    /* Mostrar las celdas de la tabla como bloques para que se apilen verticalmente */
    td {
        display: block;
        border: none;
    }

    /* Estilo adicional para resaltar las celdas del cuerpo */
    td {
        border-bottom: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    /* Estilo para filas impares */
    tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    /* Estilo para los botones en las celdas */
    td button {
        margin-bottom: 5px; /* Agregar espacio entre los botones */
        width: 100%; /* Hacer que los botones ocupen todo el ancho de la celda */
    }
}
